<template>
  <div class="app">
    <!--    <div id="nav">-->
    <!--      <router-link to="/">StartPage</router-link> |-->
    <!--      <router-link to="/about">DrugSale</router-link>-->
    <!--    </div>-->
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
@import './assets/styles/default.scss';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//#nav {
//  a {
//    font-weight: bold;
//    color: #2c3e50;
//
//    &.router-link-exact-active {
//      color: #42b983;
//    }
//  }
//}

//@media (min-width: 2048px) {
//  .app {
//    transform: scale(2);
//  }
//}
</style>
