<template>
  <div class="drug-sale">
    <SideBar class="side-bar" />
    <div class="main_section">
      <Patient class="patient" />
      <div class="buttons_wrapper">
        <DrugButton
          v-for="item in getButtons"
          :key="item.drug"
          :text="item.text"
          :color="item.color"
          :drug="item.drug"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SideBar from '../components/SideBar';
import Patient from '../components/Patient';
import DrugButton from '../components/DrugButton';

export default {
  name: 'DrugSale',
  components: {
    SideBar,
    Patient,
    DrugButton,
  },
  computed: {
    ...mapGetters([
      'getButtons',
    ]),
  },
};
</script>

<style scoped lang="scss">

.drug-sale {
  display: flex;
  width: 100vw;
  height: 100vh;

  .side-bar {
    z-index: 99;
  }

  .main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 67%;

    .patient {
      z-index: 11;
    }

    .buttons_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 64px;
    }
  }
}
</style>
