<template>
  <div class="final">
    <div class="left_section">
      <router-link
        to="/"
        class="link"
      >
        <button
          class="home"
          @click="resetPatient"
        >
          <img
            src="../assets/icons/btn-home.png"
            alt=""
          >
        </button>
      </router-link>
      <div class="result_wrapper">
        <FinalCount
          v-for="item in mapDrugs"
          class="final-count"
          :key="item.index"
          :index="item.index"
          :count="item.value"
        />
      </div>

      <div class="grey-line" />

      <div class="text_wrapper">
        <span class="your-result">Ваш результат:</span>
        <span class="what-iam-doing">«Что я здесь делаю?»</span>
        <span class="test">Это тестовое задание, так что не будем углубляться в глубины проблем фармацевтов.</span>
      </div>

      <router-link
        to="/drugsale"
        class="to-repeat"
      >
        <button
          class="repeat"
          @click="resetPatient"
        >
          Попробовать еще
        </button>
      </router-link>
    </div>
    <div class="right_section">
      <img
        alt=""
        src="../assets/images/final.jpg"
      >
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import FinalCount from '../components/FinalCount';

export default {
  name: 'Final',
  components: {
    FinalCount,
  },
  computed: {
    ...mapGetters([
      'getAllDrugsCount',
      'getDrugsCounter',
    ]),
    getNewDrug() {
      return Object.values(this.getAllDrugsCount);
    },
    mapDrugs() {
      return this.getDrugsCounter.map((item, index) => ({
        ...item,
        value: this.getNewDrug[index],
      }));
    },
  },
  methods: {
    ...mapActions(['resetPatientNumber']),
    resetPatient() {
      this.resetPatientNumber();
    },
  },
};
</script>

<style scoped lang="scss">

.final {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  .left_section {
    width: 50%;

    .link {
      display: flex;
      width: 70px;
      height: 70px;
      margin: 70px 0 120px 50px;

      .home {
        display: grid;
        place-items: center;
        border-radius: 50%;
        border: none;
        background: transparent;
        padding: 0;
      }
    }

    .result_wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 0 60px 130px;
      width: 560px;
    }

    .grey-line {
      width: 580px;
      border: 1px solid #D9D9D9;
      margin: 0 0 40px 130px;
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 0 250px 130px;
      width: 580px;
      color: #8E9AD5;

      .your-result {
        font-size: 28px;
        font-weight: bold;
        line-height: 10px;
      }

      .what-iam-doing {
        font-size: 45px;
        font-weight: 900;
      }

      .test {
        font-size: 24px;
        color: #424242;
      }
    }

    .to-repeat {
      display: flex;
      width: 270px;
      margin: 0 0 0 130px;
      text-decoration: none;

      .repeat {
        display: grid;
        place-items: center;
        width: 270px;
        height: 60px;
        font-size: 24px;
        color: white;
        font-weight: bold;
        background: linear-gradient(90deg, #D9D9D9 0%, #A1A1A1 100%);
        border-radius: 100px;
        border: none;
      }
    }
  }

  .right_section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }
}

@media (min-width: 2048px) {
  .final {
    .left_section {
      .link {
        transform: scale(1.5);
        margin: 105px 0 180px 75px;
      }

      .result_wrapper {
        width: 800px;
        margin: 0 0 90px 160px;
      }

      .grey-line {
        width: 800px;
        margin: 0 0 60px 160px;
      }

      .text_wrapper {
        margin: 0 0 375px 160px;
        width: 820px;

        .your-result {
          font-size: 42px;
          line-height: 15px;
        }

        .what-iam-doing {
          font-size: 68px;
        }

        .test {
          font-size: 36px;
        }
      }

      .to-repeat {
        width: 405px;
        margin: 0 0 0 130px;

        .repeat {
          width: 405px;
          height: 90px;
          font-size: 32px;
          border-radius: 150px;
        }
      }
    }

    .right_section {
      img {
        width: 1065px;
      }
    }
  }
}
</style>
