<template>
  <div class="start-page">
    <div class="container">
      <div class="circle-title">
        <div class="name-of-game">
          <span class="welcome-text">Добро пожаловать в игру</span>
          <span class="help">Помоги</span>
          <span class="pharma">Фармацевту</span>
          <router-link
            to="/drugsale"
            class="link"
          >
            <button class="button">
              <b>Начать</b>
            </button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'StartPage',
};
</script>

<style scoped lang="scss">

.start-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/bg.jpg);
  background-size: cover;
  color: white;

  .container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(63.53deg, rgba(45, 133, 80, 0.26) 16.62%, rgba(94, 110, 194, 0.35) 83.38%);

    .circle-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 860px;
      height: 860px;
      margin-top: -32px;
      margin-left: 110px;
      border-radius: 50%;
      background: linear-gradient(63.53deg, #2D8550 16.62%, #5E6EC2 83.38%);

      .name-of-game {
        display: flex;
        flex-direction: column;
        margin-top: 115px;
        left: 181px;
        top: 276px;

        span {
          display: block;
        }

        .welcome-text {
          margin-bottom: 16px;
          font-size: 35px;
          letter-spacing: 0.01em;
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .help,
        .pharma {
          font-weight: 800;
        }

        .help {
          font-size: 60px;
        }

        .pharma {
          margin-bottom: 130px;
          font-size: 71px;
          line-height: 57px;
          text-transform: uppercase;
        }

        .link {
          display: flex;
          width: 380px;
          margin: auto;
          text-decoration: none;

          .button {
            display: grid;
            place-items: center;
            margin: auto;
            width: 380px;
            height: 90px;
            font-size: 36px;
            color: #8E9AD5;
            border-radius: 100px;
            border: none;
          }
        }
      }
    }
  }
}

@media (min-width: 2048px) {
  .start-page {
    .container {
      .circle-title {
        margin-left: 20%;
        margin-top: 8%;
        transform: scale(1.5);
      }
    }
  }
}
</style>
