<template>
  <div
    class="button"
    id="button"
    @click="newPatient"
    :style="{background}"
  >
    <span>{{ text }}</span>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Button',
  data() {
    return {
      intervalId: 1,
    };
  },
  props: {
    text: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
    drug: {
      type: String,
      required: true,
    },
  },
  beforeDestroy() {
    clearInterval(this.intervalId);
  },
  watch: {
    getPatientNumber() {
      if (this.getPatientNumber === this.getPatients.length) {
        this.intervalId = setTimeout(() => {
        }, 1400);
        this.$router.push('/final');
      }
    },
  },
  computed: {
    ...mapGetters([
      'getPatientNumber',
      'getPatients',
    ]),
    background() {
      switch (this.color) {
        case 'violet':
          return 'linear-gradient(266.19deg, #8049C7 0%, #CA57FD 100%)';
        case 'blue':
          return 'linear-gradient(266.19deg, #169AE4 0%, #0CC4FA 100%)';
        case 'yellow':
          return 'linear-gradient(90deg, #FFD748 0.02%, rgba(195, 199, 11, 0.96) 99.97%, #CAC6AB 99.98%, #D3E9E1 99.99%)';
        default:
          return '';
      }
    },
  },
  methods: {
    ...mapActions(['increasePatientNumber', 'changeDrugNumber', 'refreshStyle', 'resetPatientNumber']),
    newPatient() {
      if (this.getPatientNumber < this.getPatients.length) {
        this.refreshStyle();

        this.changeDrugNumber(this.drug);

        this.intervalId = setTimeout(() => {
          this.increasePatientNumber();
        }, 1400);
      }
    },
  },
};
</script>

<style scoped lang="scss">

.button {
  display: grid;
  place-items: center;
  width: 280px;
  height: 90px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

@media (min-width: 2048px) {
  .button {
    width: 420px;
    height: 135px;
    font-size: 42px;
  }
}
</style>
