<template>
  <div class="drug-counter">
    <img
      :src="require(`../assets/icons/${icon}`)"
      alt=""
    >
    <span class="count">
      {{ count }}
    </span>
  </div>
</template>

<script>

export default {
  name: 'DrugCounter',
  props: {
    icon: {
      type: String,
      required: true,
    },
    count: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.drug-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 190px;
  height: 80px;
  padding-left: 10px;
  background: white;
  box-shadow: 0 0 50px rgba(131, 42, 64, 0.4);
  border-radius: 40px;

  img {
    margin-right: 40px;
  }

  .count {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 2048px) {
  .drug-counter {
    width: 285px;
    height: 120px;
    border-radius: 60px;
    padding-left: 30px;

    img {
      margin-right: 60px;
      transform: scale(1.5);
    }

    .count {
      transform: scale(1.5);
    }
  }
}
</style>
