<template>
  <div class="final-count">
    <span class="drug-count">{{ percent }}%</span>
    <span class="label">Препарат {{ index }}</span>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'FinalCount',
  props: {
    count: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  computed: {
    ...mapGetters([
      'getAllDrugsCount',
      'getDrugsCounter',
    ]),
    sumDrugs() {
      return Object.values(this.getAllDrugsCount).reduce((a, b) => a + b, 0);
    },
    percent() {
      return Math.round((this.count / this.sumDrugs) * 100) || 0;
    },
  },
};
</script>

<style scoped lang="scss">
.final-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  color: #424242;

  .drug-count {
    font-size: 48px;
    line-height: 59px;
  }

  .label {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }
}

@media (min-width: 2048px) {
  .final-count {
    width: 165px;
    height: 165px;

    .drug-count {
      font-size: 72px;
      line-height: 99px;
    }

    .label {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
</style>
