<template>
  <div
    class="patient"
    ref="patientPosition"
    :class="rollOverClass"
    :key="componentKey"
  >
    <div class="image_wrapper">
      <img
        :src="require(`../assets/images/${avatar}`)"
        alt=""
      >
      <div
        v-show="labelVisible"
        :style="{ color: labelColor, borderColor: labelColor }"
        class="label"
      >
        <span>Препарат {{ number }}</span>
      </div>
    </div>
    <div class="info">
      <span class="name">{{ name }}, {{ age }}</span>
      <span class="what-patient-need">{{ info }}</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Patient',
  data() {
    return {
      componentKey: 0,
      labelVisible: false,
    };
  },
  watch: {
    getStyleNumber() {
      this.labelVisible = true;
      if (this.getPatientNumber) {
        this.componentKey += 1;
      }
    },
    getPatientNumber() {
      this.labelVisible = false;
    },
  },
  computed: {
    ...mapGetters([
      'getPatientNumber',
      'getPatients',
      'getDrugColor',
      'getStyleNumber',
    ]),
    name() {
      return this.aboutPatient('name');
    },
    age() {
      return this.aboutPatient('age');
    },
    info() {
      return this.aboutPatient('info');
    },
    avatar() {
      return this.aboutPatient('avatar');
    },
    rollOverClass() {
      switch (this.getDrugColor) {
        case 'left':
          return 'roll-left';
        case 'top':
          return 'roll-top';
        case 'right':
          return 'roll-right';
        default:
          return '';
      }
    },
    labelColor() {
      switch (this.getDrugColor) {
        case 'left':
          return '#8049C7';
        case 'top':
          return '#169AE4';
        case 'right':
          return '#FFCA01';
        default:
          return '';
      }
    },
    number() {
      switch (this.getDrugColor) {
        case 'left':
          return '1';
        case 'top':
          return '2';
        case 'right':
          return '3';
        default:
          return '';
      }
    },
  },
  methods: {
    aboutPatient(x) {
      if (this.getPatientNumber === this.getPatients.length) {
        return this.getPatients[this.getPatientNumber - 1][x];
      }
      return this.getPatients[this.getPatientNumber][x];
    },
  },
};
</script>

<style scoped lang="scss">

.patient {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 540px;
  height: 590px;
  box-shadow: 0 0 40px rgba(127, 127, 127, 0.4);
  border-radius: 40px;

  .image_wrapper {
    margin-bottom: 20px;
    border-radius: 40px 40px 0 0;
    background: linear-gradient(63.53deg, #2D8550 16.62%, #5E6EC2 83.38%);

    img {
      border-radius: 40px 40px 0 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }

    .label {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 360px;
      height: 120px;
      left: 70px;
      bottom: 210px;
      border: 8px solid transparent;
      border-radius: 10px;
      transform: rotate(-20deg);

      span {
        font-size: 52px;
        font-weight: bold;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;

    .name {
      margin-bottom: 10px;
      font-weight: 800;
      font-size: 32px;
      color: #8E9AD5;
    }

    .what-patient-need {
      width: 420px;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 1.5px;
    }
  }
}

.roll-left {
  animation: roll-left 1.5s linear;
}

.roll-top {
  animation: roll-top 1.5s linear;
}

.roll-right {
  animation: roll-right 1.5s linear;
}

@keyframes roll-left {
  0% {
    transform: rotate(0deg);
    right: 0;
  }
  100% {
    transform: rotate(-180deg);
    right: 1500px;
  }
}

@keyframes roll-top {
  0% {
    transform: rotate(0deg);
    bottom: 0;
  }
  100% {
    transform: rotate(-180deg);
    bottom: 1500px;
  }
}

@keyframes roll-right {
  0% {
    transform: rotate(0deg);
    left: 0;
  }
  100% {
    transform: rotate(180deg);
    left: 1500px;
  }
}

@media (min-width: 2048px) {
  .patient {
    width: 810px;
    height: 885px;
    border-radius: 60px;

    .image_wrapper {
      margin-bottom: 30px;
      border-radius: 60px 60px 0 0;

      img {
        border-radius: 60px 60px 0 0;
      }

      .label {
        width: 540px;
        height: 180px;
        left: 105px;
        bottom: 315px;
        border: 12px solid transparent;
        border-radius: 15px;

        span {
          font-size: 78px;
        }
      }
    }

    .info {
      .name {
        margin-bottom: 15px;
        font-size: 54px;
      }

      .what-patient-need {
        width: 630px;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 1.5px;
      }
    }
  }
}
</style>
