<template>
  <div class="side-bar">
    <div class="home-refresh">
      <router-link
        to="/"
        class="link"
      >
        <button
          class="home"
          @click="resetPatient"
        >
          <img
            src="../assets/icons/home.svg"
            alt=""
          >
        </button>
      </router-link>
      <button
        class="refresh"
        @click="resetPatient"
      >
        <img
          src="../assets/icons/refresh.svg"
          alt=""
        >
      </button>
    </div>
    <div class="parameters">
      <span class="title">Параметри:</span>
      <div class="drug-counter_wrapper">
        <DrugCounter
          v-for="item in mapDrugs"
          class="drug-counter"
          :key="item.number"
          :icon="item.icon"
          :count="item.value"
        />
      </div>
    </div>

    <div class="left-in-queue">
      <span>Осталось в очереди:</span>
      <span class="all-patients"><b>{{ sumDrugs }}</b> / {{ allPatients }}</span>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import DrugCounter from './DrugCounter';

export default {
  name: 'SideBar',
  components: {
    DrugCounter,
  },
  computed: {
    ...mapGetters([
      'getDrugsCounter',
      'getButtons',
      'getAllDrugsCount',
      'getPatients',
    ]),
    getNewDrug() {
      return Object.values(this.getAllDrugsCount);
    },
    mapDrugs() {
      return this.getDrugsCounter.map((item, index) => ({
        ...item,
        value: this.getNewDrug[index],
      }));
    },
    sumDrugs() {
      return Object.values(this.getAllDrugsCount)
        .reduce((a, b) => a + b, 0);
    },
    allPatients() {
      return this.getPatients.length;
    },
  },
  methods: {
    ...mapActions(['resetPatientNumber']),
    resetPatient() {
      this.resetPatientNumber();
    },
  },
};
</script>

<style scoped lang="scss">

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  height: 100%;
  background: linear-gradient(63.53deg, rgba(45, 133, 80, 0.7) 16.62%, rgba(94, 110, 194, 0.7) 83.38%);

  .home-refresh {
    display: flex;
    align-items: flex-end;
    height: 140px;
    width: 100%;
    padding-left: 50px;

    .link {
      .home {
        display: grid;
        place-items: center;
        width: 70px;
        height: 70px;
        margin-right: 38px;
        border-radius: 50%;
        border: none;
      }
    }

    .refresh {
      display: grid;
      place-items: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: none;
    }
  }

  .parameters {
    padding-left: 50px;

    .title {
      display: block;
      margin-bottom: 30px;
      font-size: 36px;
      line-height: 44px;
      font-weight: 700;
      color: white;
    }

    .drug-counter_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 30px;

      .drug-counter:last-child {
        margin: 37px auto 0;
      }
    }
  }

  .left-in-queue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 134px;
    color: white;
    background: rgba(255, 255, 255, 0.29);
    font-size: 36px;
    line-height: 55px;

    .all-patients {
      font-size: 45px;

      b {
        font-size: 47px;
      }
    }
  }
}

@media (min-width: 2048px) {
  .side-bar {
    .home-refresh {
      margin-left: 25%;
      margin-top: 8%;
      transform: scale(1.5);
    }

    .parameters {
      .title {
        margin-bottom: 45px;
        font-size: 54px;
      }
    }

    .left-in-queue {
      height: 201px;
      font-size: 54px;
      line-height: 80px;

      .all-patients {
        font-size: 68px;

        b {
          font-size: 70px;
        }
      }
    }
  }
}
</style>
